NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000
IMG_CHEST_API_KEY=
DIRECT_CONNECTION_STRING=
DEMO_USER_PASSWORD=
DEMO_STUDENT_EMAIL=student.demo@example.com
DEMO_TEACHER_EMAIL=teacher.demo@example.com
DEMO_STAFF_EMAIL=staff.demo@example.com
DEMO_ADMIN_EMAIL=admin.demo@example.com
